<h1 class= "mb-4 text-center">Edit Book Details</h1>

<%= form_for @book, class: "d-flex align-itemes-center justifiy-content-center flex-column", :url =>{:action => "update", :id =>@book} do |f| %>

 <div class="form-outline mb-4 mx-4">
    <label class="form-label" for="form4Example1">Title</label>
    <P><%= f.text_field 'title' %></P>
  </div>

  <!-- Email input -->
  <div class="form-outline mb-4 mx-4">
    <label class="form-label" for="form4Example2">Subject</label>
    <p class= 'collection'> <%= f.collection_select :subject_id, @subjects, :id, :title %></p>
  </div>

  <!-- Message input -->
  <div class="form-outline mb-4 mx-4">
    <label class="form-label" for="form4Example3">Description</label>
    <%= f.text_area 'body', class:"me-2 form-control  " %>
  </div>

  <!-- Submit button -->
  <%= f.submit "Edit", class:"btn btn-primary btn-block mb-4 mx-4" %>
<% end %>

<%= link_to 'Back', {:action => 'list' }, class:"btn btn-secondary btn-block mb-4 mx-4" %>